



@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;800&family=Lato&display=swap');

html {
  --font-primary: 'Epilogue', sans-serif;
  --font-header: var(--font-primary);
  --font-size--intro-header: 4rem;
  background-image:linear-gradient(#847dd0,#F1F8FF);
  
}




img{
  max-width: 100%;
  height: auto;
  
  
}
h1 {
  font-size: 4.5rem;
  font-weight: 800;}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
  
}
body h1 {
  text-align: center;
  font-family: 'Epilogue', sans-serif;;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: 800;
  margin-top: 0;
}


body .adder {
  position: relative;
  width: 15rem;
  margin: 0px auto;
  display: block;
}
body .adder ::-webkit-input-placeholder {
  color: #cecece;
}
body .adder .input {
  outline: none;
  border: 1px solid white;
  background-color: #162e4bec;
  color: white;
  height: 3rem;
  width: 15rem;
  padding-left: 0.6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 1rem;
  margin-left: -0.3rem;
}
body .adder span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.8;
  cursor: pointer;
  transition: all 200ms;
  color: white;
  will-change: transform;
}
body .adder span:hover {
  transform: rotate(180deg);
}
body ul {
  padding: 0px;
}
body ul .draggable {
  will-change: transform;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  height: 3rem;
  list-style-type: none;
  margin: 10px;
  background-color: rgba(244, 244, 195, 0.762);
  color: #04346f;
  width: 15rem;
  line-height: 3.2;
  padding-left: 10px;
  cursor: move;
  transition: all 200ms;
  user-select: none;
  margin: 10px auto;
  position: relative;
}
body ul .draggable:after {
  content: "glisse-moi";
  right: 7px;
  font-size: 0.7rem;
  position: absolute;
  cursor: pointer;
  line-height: 5;
  transition: all 200ms;
  transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.5);
  transform: translateX(120%);
  opacity: 0;
}
body ul .draggable:hover:after {
  opacity: 1;
  transform: translate(0);
}

.over {
  transform: scale(1.1, 1.1);
}

.nav {
  max-width: 67rem;
  margin: 2rem auto 6rem;
}
.nav-list {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  font-size: 1.5rem;
  grid-gap: 0.5rem;
}
.nav-list:before {
  content: "|";
  grid-column: 2;
}
.nav-list__link {
  color: inherit;
  text-decoration: none;
}
.nav-list__link--active {
  font-weight: 700;
}