@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;800&family=Lato&display=swap');



body{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  background : url(/Images/background-lines-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
img{
  max-width: 100%;
  height: auto;
  
  
}

a[href^="http"],
a[href^="mailto"] {
  color: inherit;
  text-decoration: none;
}
a[href^="http"]:hover,
a[href^="mailto"]:hover {
  text-decoration: underline;
}
a[href^="http"]:hover svg,
a[href^="mailto"]:hover svg {
  opacity: 1;
}
a[href^="http"] svg,
a[href^="mailto"] svg {
  width: 1.5ch;
  opacity: 0.5;
}


#mySavedModel {

  display: none;
}
::selection {
  color: black;
  background: rgb(172, 15, 196);
}


.nav {
  max-width: 67rem;
  margin: 1rem auto 1rem;
}
.nav-list {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  font-size: 1.5rem;
  grid-gap: 0.5rem;
}
.nav-list:before {
  content: "|";
  grid-column: 2;
}
.nav-list__link {
  color: inherit;
  text-decoration: none;
}
.nav-list__link--active {
  font-weight: 700;}



.carousel-captions-start {   

  margin-block-start: 7.5em;
  font-size: .9em;

}


.carousel-captions-bottom {   

  margin-block-start: 7.5em;
  font-size: .9em;

  
}


.title {
  position: relative;
  font-family: 'Epilogue', sans-serif;
  font-size: clamp(1rem, 4vw, 2.5rem);
  padding: 1rem;
  text-align: center;
  z-index: 1;
}


.title-all-projects-a {
  position: relative;
  font-family: 'Epilogue', sans-serif;
  font-size: clamp(1rem, 4vw, 2.5rem);
  padding: 1rem;
  text-align: center;
  z-index: 1;
  color: #3477db;
}
.title-all-projects-b {
  position: relative;
  font-family: 'Epilogue', sans-serif;
  font-size: clamp(1rem, 4vw, 2.5rem);
  padding: 1rem;
  text-align: center;
  z-index: 1;
  color: #019875;
}
.title-all-projects-c {
  position: relative;
  font-family: 'Epilogue', sans-serif;
  font-size: clamp(1rem, 4vw, 2.5rem);
  padding: 1rem;
  text-align: center;
  z-index: 1;
  color: #e65722;
}
.title-all-projects-d {
  position: relative;
  font-family: 'Epilogue', sans-serif;
  font-size: clamp(1rem, 4vw, 2.5rem);
  padding: 1rem;
  text-align: center;
  z-index: 1;
  color: #828201;
}

.colored-list-a {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: clamp(1rem, 4vw, 1.5rem);
  padding: 1rem;
  text-align: center;
  z-index: 1;
  color: #ba4f2e;

}
.colored-list-b {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: clamp(1rem, 3vw, 1.5rem);
  padding: 1rem;
  text-align: center;
  z-index: 1;
  color: #005944;
}
.colored-list-c {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: clamp(1rem, 3vw, 1.5rem);
  padding: 1rem;
  text-align: center;
  z-index: 1;

  color: #112760;
}
.colored-list-d {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: clamp(1rem, 3vw, 1.5rem);
  padding: 1rem;
  text-align: center;
  z-index: 1;
  color: #671464;
}

.description {
  display: grid;
  grid-template-columns: auto;
  position: relative;
  margin: 0 auto;
  width: 50em;
  font-family: 'Lato', sans-serif;
  color: rgb(0, 0, 0);
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 1em;
}


.description-diagram {
  display: grid;
  grid-template-columns: auto;
  position: relative;
  margin: 0 auto;
  width: 50em;
  background-image: cover;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  color: rgb(0, 0, 0);
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 1em;
}


.title-box {
  display: none;
  grid-template-columns: auto;
  position: relative;
  margin: 0 auto;
  width: 50em;
  font-family: 'Lato', sans-serif;
  color: rgb(0, 0, 0);
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


::-moz-selection {
  color: black;
  background: lightGray;
}
::selection {
  color: black;
  background: lightGray;
}



/* This is the styling for the image carrousel */



.carousel-captions {
  color: #ffffff;
  font-size: 1em;
  position: absolute;
  width: 100%;
  text-align: center;
  
}


.carousel-control prev {
  place-self: center left;
}

.carousel-control next {
  place-self: center right;
}


.tartist-tiny-slider-wrap{
  width: 100%;
  padding: 0;
}
.tartist-tiny-slider .wrap{
  display: inline-grid !important;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
}

.tartist-tiny-slider__item{
  display: flex;
  justify-content: center;
  align-items: top;
  height: 150px;
  font-size: 1.2em;
  background-color: #2779a87e;
  color: #ffffff;
  font-family: 'Epilogue', sans-serif;
clip-path: circle(80.3% at 40% 78%);


}


.tartist-tiny-slider__item:nth-child(2n+1){
  background-color: #b88b038a;
  color: #212121;
}
.tartist-tiny-slider__item > img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.tns-nav {
  text-align: center;
  margin-top: 30px;
}
.tns-nav button{
  width: 15px;
  height: 15px;
  border-radius: 20px;
  border: none;
  margin: 0 5px;
  background-color: #dddddd;
}
.tns-nav button.tns-nav-active{
  background-color:#2779a8;
}

@media (min-width: 800px){

  .description {
    width: 768px;
    margin: 0 auto;
    font-size: 1.3em;
  }




  .tartist-tiny-slider-wrap{
    width: 768px;
    margin: 0 auto;
  }
  
  .tartist-tiny-slider__item{
    height: 250px;
    font-size: 2em;
  }
  .tartist-tiny-slider[data-chunksize='1'] .wrap{
    grid-template-columns: repeat(1, 1fr);
  }
  .tartist-tiny-slider[data-chunksize='2'] .wrap{
    grid-template-columns: repeat(2, 1fr);
  }
  .tartist-tiny-slider[data-chunksize='3'] .wrap{
    grid-template-columns: repeat(3, 1fr);
  }
  .tartist-tiny-slider[data-chunksize='4'] .wrap{
    grid-template-columns: repeat(2, 1fr);
  }
  .tartist-tiny-slider[data-chunksize='5'] .wrap{
    grid-template-columns: repeat(3, 1fr);
  }
  .tartist-tiny-slider[data-chunksize='6'] .wrap{
    grid-template-columns: repeat(3, 1fr);
  }
  .tartist-tiny-slider[data-chunksize='7'] .wrap{
    grid-template-columns: repeat(4, 1fr);
  }
  .tartist-tiny-slider[data-chunksize='8'] .wrap{
    grid-template-columns: repeat(4, 1fr);
  }
  .tartist-tiny-slider[data-chunksize='9'] .wrap{
    grid-template-columns: repeat(5, 1fr);
  }
  .tartist-tiny-slider[data-chunksize='10'] .wrap{
    grid-template-columns: repeat(5, 1fr);
  }

}

@media (max-width: 768px){

  .description {
  width: 600px;
  margin: 0 auto;
}
}

@media (max-width: 600px){

  
  .description {
  width: 500px;
  margin: 0 auto;
}
  
.tartist-tiny-slider__item{
  display: flex;
  justify-content: center;
  align-items: top;
  height: 150px;
  font-size: 1.2em;
  background-color: #2779a87e;
  color: #ffffff;
  font-family: 'Epilogue', sans-serif;
  
  
}


@media (max-width: 500px){

  .description {
  width: 375px;
  margin: 0 auto;
}
}


@media (max-width: 400px){

  .description {
  width: 300px;
  margin: 0 auto;
}
}

@media (max-width: 320px){

  .description {
  width: 250px;
  margin: 0 auto;
}
}
}

/* This is the styling for the accordion */


* {
  box-sizing:border-box;
}

.heading-primary {
  font-size:1em;
  padding:1em;
  text-align:center;
}
.accordion dl,
.accordion-list {
   border:1px solid #ddd;
}
.accordion-list::after {
  content: "";
  display:block;
  height:1em;
  width:100%;
  background-color:darken(#3838cc31, 10%);
}

.accordion dd,
.accordion__panel {
   background-color:rgba(238, 238, 238, 0.194);
   font-size:1em;
   line-height:1.5em; 
}
.accordion p {
  font-family: 'Lato', sans-serif;
  padding:1em 1em 1em 1em;
}

.accordion {
    position:relative;
    justify-content: center;
    align-items: center;
    align-self: left;
    background-color:rgba(238, 238, 238, 0);
}
.container {
  max-width:960px;
  margin:0 auto;
  padding:1em 0 1em 0;
}
.accordionTitle,
.accordion__Heading {
 
  border: 1px solid rgba( 255, 255, 255, 0.18 );
 
  background-color: lightgrey; 
  align-self: flex-start;
   text-align:center;
     font-weight:700; 
          padding :1em;
          width: 100%;
          display:block;
          text-decoration:none;
          color:rgb(0, 0, 0);
          transition:background-color 0.5s ease-in-out;
  border-bottom:10px solid darken(#ffffff, 5%);}
  

  .accordionTitle:before,
.accordion__Heading:before {
  content: "🕺🏻🤸🏽‍♀️";
  font-size: 1em;
  line-height: 0.5em;
  float: left;
  transition: transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #ffc20c5b;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #ffc20c5b;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  transform: rotate(-225deg);
}



.accordionItem {
    height:auto;
    overflow:hidden;
    /* //SHAME: magic number to allow the accordion to animate */
    
     max-height:80em;
    transition:max-height 1s;   
 
    
    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.5s
        
    }
    
   
}
 
.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1; 
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
     100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}


.image-mosaic {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}


.tabs {
	clear: both;
	position: relative;   
   max-width: 100%;
   margin: 0 auto;
   /* you can either manually set a min-height here or do it via JS ---> */
}

.tab {
	float: left;
  max-width: 80%;

}

.tab label {
  display: flex;
	justify-content: space-between;
	margin-right: 1rem;
	position: relative;
	top: 0;
	cursor: pointer;
	color: #333;
   text-transform: uppercase;
   font-size: 2.5em;

}

.tab [type=radio] {
	display: none;   
}

.tab__content {

  font-size: 1.5rem;
  max-width: 90%;
   position: relative;
	top: 100px;
	left: 1.5em;
	right: 1.5em;
	bottom: 0;
	transition: opacity .2s cubic-bezier(.42,0,.34,1.01);
	opacity: 0;
}

[type=radio]:checked ~ label {
	border-bottom: 2px solid #1d1d1d;
	color: #1d1d1d;
	z-index: 2;
}

[type=radio]:checked ~ label ~ .tab__content {
	z-index: 1;
	opacity: 1;
}

/* Code pour page autres projets */


img {
  max-width: 100%;
}

h1,
p {
  margin: 0 0 1em 0;
}

.media {
  margin-bottom: 2em;
  border: 2px solid #444;
  padding: 10px;
}

.media > .title { grid-area: title; }
.media > .img { grid-area: img; }
.media > .content { grid-area: bd; }
.media > .footer { grid-area: ft; }

.media {
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas:
    "title"
    "img"
    "bd"
    "ft";
}


@media (min-width: 600px) {

  /* clearfix*/
  .media:after {
    content: "";
    display: block;
    clear: both;
  }

  .media > .media {
    margin-left: 160px;
    clear: both;
  }

  .media .img {
    float: left;
    margin: 0 10px 0 0;
    width: 150px;
  }
  
  .media .footer {
    background-color: #eee;
    padding: 10px;
  }

  .media.media-flip .img {
    float: right;
    margin: 0 0 0 10px;
  }

  .media > * {
    margin: 0 0 0 160px;
  }

  .media.media-flip > * {
    margin: 0 160px 0 0;
  }

  @supports(display: grid ) {
    /* override */
    .media > *,
    .media.media-flip > * {
      margin: 0;
    }
    .media .img,
    .media.media-flip .img {
      width: auto;
      margin: 0;
    }
    .media:after {
      content: none;
    }

    .media {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 150px 3fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "img title"
        "img bd"
        "ft ft";
    }

    .media.media-flip {
      grid-template-columns: 3fr 150px ;
      grid-template-areas:
        "title img"
        "bd img"
        "ft ft";
    }

    .media.img-flexie {
      grid-template-columns: minmax(150px, 1fr) 3fr;
    }

    .media.media-flip.img-flexie {
      grid-template-columns: 3fr minmax(150px, 1fr);
    }

    /* nested */
    .media > .media {
      grid-column: 2 / -1 ;
      margin: 0; /* override */
      margin-top: 1em;
    }
  }


}
